.background {
  background-image: url(assets/workHarder4.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10px;
}

.container {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #1f0971; dark blue;

}

.textCenter {
  font-size: 5vw;
  font-weight: 100;
  color: grey;
  text-align: center;
}

.icon {
  display: flex;
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.icon2 {
  margin-top: 12%;
  margin-left: 13%;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.flexBox {
  display: flex;
  justify-content: space-around;
}

.iconDivPhys {
  width: 200px;
  height: 200px;
  display: inline-block;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  border-style: hidden;
  background-color: #ff6d00; orange
}

.physText {
  text-align: center;
  color: #ff6d00; orange
  font-size: 100px;
  font-weight: 900;
}

.finText {
  text-align: center;
  color: #8ae429; green
  font-size: 100px;
  font-weight: 900;
}

.iconDivFin {
  width: 200px;
  height: 200px;
  display: inline-block;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  border-style: hidden;
  background-color: #8ae429; green
}

.divBreak {
  height: 400px;
  width: 100%;
}

.divBreakSmall {
  height: 50px;
}

.divBreakMd {
  height: 100px;
}

.navBar {
  margin-right: 20px;
}

.title1 {
  vertical-align: middle;
  font-size: 45px;
  color: #ff6d00; orange;
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

.submitBtn {
  margin-left: 20px;
}

.physBtn {
  background-color: #ff6d00; orange;
  color: white;
}

.finBtn {
  background-color: #8ae429; green;
  color: white;
}

.input {
  font-size: 20px;
  margin-bottom: 25px;
  color: black;
}

.inputTitle {
  margin-left: 20px;
  display: inline-block;
  color: white;
}

.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f0971; dark blue;
  padding-top: 20px;
  padding-bottom: 150px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.glyphicon glyphicon-th {
  display: inline-block;
}
