<div class="divBreak"></div>

<div class="chartDivStr">
    <h1 class="physChartText">Strength Goals (lbs) </h1>
    <div class="strChart"></div>
</div>
<div class="divBreakSmall"></div>

<div class="chartDivStr">
    <h1 class="physChartText">Speed Goals (min) </h1>
    <div class="spdChart"></div>
</div>
<div class="divBreakSmall"></div>

<div class="chartDivFin">
    <h1 class="finChartText">Financial Goals</h1>
    <div class="finChart"></div>
</div>
<div class="divBreakSmall"></div>

<div ng-controller="ChartCtrl as ChartCtrl"></div>
