<div>
  <div class="divBreak"></div>


<div class="divStr">
  <ul>
    <h2> PERSONAL RECORDS </h2>
    <li> {{goal1.name}} : {{goal1.value}}</li>
    <li> {{goal2.name}} : {{goal2.value}}</li>
    <li> {{goal3.name}} : {{goal3.value}}</li>
  <ul>
</div>

<div class="chartDivStr">
  <h1 class="physChartText">Physical Goals</h1>
  <div class="chart1"></div>
</div>
<br>

<div class="chartDivFin">
  <h1 class="finChartText">Financial Goals</h1>
  <div class="chart2"></div>
</div>

  <div ng-controller="ChartCtrl as ChartCtrl"></div>
